/.gradle/5.2.1/executionHistory
/.gradle/5.2.1/fileChanges
/.gradle/5.2.1/fileHashes
/.idea
/.gradle
/.gradle/buildOutputCleanup
/.gradle/5.2.1
/.gradle/vcs-1
*.class
/build/resources
/build/libs
/build/tmp/war
/gradle/wrapper
/gradlew
/gradlew.bat
/build/tmp/compileJava
/build/resources/main/templates
/build/tmp/bootWar
/build
